<%- contentFor('HeaderCss') %>


    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Stories</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/admin/stories">Stories</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>

        <% if (message!="" ) { %>
            <div class="alert alert-success">
                <%= message  %>
            </div>
        <% } %>
        <% if (error!="") { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0 float-start"></h4>
                        <a href="/admin/story/create" class="btn btn-warning  float-end">Add New Story</a>
                    </div><!-- end card header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered border-grey table-hover mb-0">
                                <thead>
                                    <tr class="table-dark">
                                        <td>Image</td>
                                        <td>User</td> 
                                        <td>Comments</td>   
                                        <td>Status</td>                                            
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if(stories.length>0){ %>
                                    <% stories.forEach(story => { %>
                                        <tr>
                                            <td>
                                                <% if(story.image!="" && story.image!=null){%>
                                                    <img src="<%= story.image %>" width="50">
                                                <% }%>
                                            </td>
                                            <td><a href="/admin/user/<%= story.user_id %>"><%= story.first_name+" "+story.last_name %></a></td>
                                            <td><%= story.comments %></td>
                                            <td>
                                                <div class="form-check form-switch form-switch-md mb-3" dir="ltr">
                                                    <input type="checkbox" class="form-check-input slide-status" id="storiestatus" name="status" data-id="<%= story.id %>" <%= (story.status==1)? 'checked':''; %> value="active">
                                                    <label class="form-check-label" for="customSwitch1"><%= (story.status==1)? 'Active':'Inactive'; %></label>
                                                </div>  
                                            </td>
                                            <td>
                                                <a href="/admin/story/edit/<%= story.id %>" class="btn btn-success btn-sm mr-2">Edit</a> 
                                                <a href="/admin/story/delete/<%= story.id %>" id="delete-btn" class="btn btn-danger btn-sm">Delete</a>
                                            </td>
                                        </tr>
                                    <% }); %>
                                <% }else{ %>
                                    <tr>
                                        <td colspan="5"  class="text-center text-bold">Sorry. No story records exits!</td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>

                        <% if(totalPages>1){ %>
                        <div class="pt-3">
                            <nav class="">
                                <ul class="pagination justify-content-center">
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <%= i == currentPage ? 'active' : '' %>">
                                        <a class="page-link" href="/admin/stories?page=<%= i %>"><%= i %></a>
                                    </li>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                        <% } %>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->


        <%- contentFor('FooterJs') %>

        

        <%- contentFor('BottomJs') %>
        <script>
            jQuery(document).ready(function() {
                $(".slide-status").on('change', function(event){
                    var status= ($(this).prop('checked'))? '1':'0';
                    var id = $(this).data('id');
                    window.location = '/admin/story/status/'+id+'/'+status;
                });
            });
        </script>