<%- contentFor('HeaderCss') %>

    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Covers</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/admin/covers">Covers</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>

        <% if (message!="" ) { %>
            <div class="alert alert-success">
                <%= message  %>
            </div>
        <% } %>
        <% if (error!="") { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Edit Cover</h4>
                    </div>
                    <div class="card-body">
                        <form action="/admin/cover/update" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="title">Title <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" placeholder="Enter title" id="title" name="title" value="<%= cover.title %>" required >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="cat_id">Category <span class="text-danger">*</span></label>
                                        <select class="form-control" id="cat_id" name="cat_id" required>
                                            <option value="" <%= cover.cat_id==0 ? 'selected':'' %>>Select Category</option>
                                            <% categories.forEach(category =>{ %>
                                                <option value="<%= category.id %>" <%= cover.cat_id==category.id ? 'selected':'' %>><%= category.title %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="price">Price <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" placeholder="Enter price" id="price" name="price" value="<%= cover.price %>" required >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="description">Description</label>
                                        <textarea class="form-control"  id="description" name="description" cols="5"  ><%= cover.description %></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="cover_frontimg">Front Image<span class="text-danger">*</span></label>
                                        <% if(cover.front_image!="" && cover.front_image!=null){%> 
                                            <div class="image-container"> <div class="inner"><a href="/admin/cover/delete-image/frontImage/<%= cover.id %>" class="delete-btn" >X</a><img src="<%= cover.front_image %>" width="100" /></div></div>
                                        <% }%>
                                        <input type="file" class="form-control"  id="cover_frontimg" name="cover_frontimg">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="cover_backimg">Back Image<span class="text-danger">*</span></label>
                                        <% if(cover.back_image!="" && cover.back_image!=null){%> 
                                            <div class="image-container"> <div class="inner"><a href="/admin/cover/delete-image/backImage/<%= cover.id %>" class="delete-btn" >X</a><img src="<%= cover.back_image %>" width="100" /></div></div>
                                        <% }%>
                                        <input type="file" class="form-control"  id="cover_backimg" name="cover_backimg">
                                        
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="cover_otherimages">Other Images (Multiple)</label>
                                        
                                        <input type="file" class="form-control"  id="cover_otherimages" name="cover_otherimages" multiple> 
                                    </div>
                                    <div>
                                        <% if(cover_images.length>0){%>
                                            <% cover_images.forEach((cimage) => { %>
                                            <div class="float-start" style="padding:5px">
                                                <div class="image-container"> <div class="inner"><a href="/admin/cover/delete-image/extraImage/<%= cover.id %>/<%=cimage.id%>" class="delete-btn" >X</a><img src="<%= cimage.image %>" width="100" /></div></div>
                                            </div>
                                            <% }); %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="cover_pdf">Cover PDF<span class="text-danger">*</span></label>
                                       
                                        <input type="file" class="form-control"  id="cover_pdf" name="cover_pdf">
                                        
                                    </div>
                                    <div>
                                        <% if(cover.cover_pdf!="" && cover.cover_pdf!=null){%> 
                                            <div class="image-container"> 
                                                <div class="inner">
                                                    <a href="<%= cover.cover_pdf %>" target="_blank">
                                                        <img src="/assets/images/PDF_icon.svg" width="100">
                                                    </a>
                                                    <a href="/admin/cover/delete-pdf/<%= cover.id %>" class="delete-btn" >X</a>
                                                </div>
                                            </div>
                                        <% }%>
                                    </div>

                                    
                                </div>
                                
        
                            </div>
                         
                            <div class="row mt-4">
                                <div class="col-md-6 text-left">
                                    <a href="/admin/covers" class="btn btn-secondary w-md">Back</a>
                                </div>
                                <div class="col-md-6 text-right">
                                    <input type="hidden" id="id" name="id" value="<%= cover.id %>">
                                    <button type="submit" class="btn btn-primary w-md float-end">Submit</button>
                                </div>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- End Form Layout -->


    <%- contentFor('FooterJs') %>
    <%- contentFor('BottomJs') %>