<%- contentFor('HeaderCss') %>


    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0"><%= layoutData.page+"-"+layoutData.title %> : Options  </h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/admin/layouts">Layouts</a></li>
                            <li class="breadcrumb-item"><a href="/admin/layout/sections/<%= layoutData.id %>">Sections</a></li>
                            <li class="breadcrumb-item"><a href="/admin/layout/options/<%= layoutData.id %>">Options</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>

        <% if (message!="" ) { %>
            <div class="alert alert-success">
                <%= message  %>
            </div>
        <% } %>
        <% if (error!="") { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 d-flex  align-items-center" >
                                <label class="me-3">Section: </label>
                                <select class="form-control" id="section_filter" name="section_filter" >
                                    <option value="" <%= section_filter=='' ? 'selected':'' %>>All</option>
                                    <% sections.forEach(section =>{ %>
                                        <option value="<%= section.id %>" <%= section_filter==section.id ? 'selected':'' %>><%= section.section_title %></option>
                                    <% }); %>
                                    <option value="0" <%= section_filter=='0' ? 'selected':'' %>>Others</option>
                                </select>
                            </div>
                            <div class="col-lg-9  col-md-6">
                                <h4 class="card-title mb-0 float-start"></h4>
                               <!-- <a href="/admin/layout/option/<%= layoutData.id %>/create" class="btn btn-warning  float-end">Add New Option</a>-->
                            </div>
                        </div>
                    </div><!-- end card header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered border-grey table-hover mb-0">
                                <thead>
                                    <tr class="table-dark">
                                        <td>ID</td>
                                        <td>Title</td>
                                        <td>Left Page</td>
                                        <td>Right Page</td>
                                        <td>Type</td>
                                        <td>Section</td>   
                                        <td>Status</td>                                            
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if(layoutOpts.length>0){ %>
                                    <% layoutOpts.forEach(layoutOpt => { %>
                                        <tr>
                                            <td><%= layoutOpt.id %></td>
                                            <td><%= layoutOpt.title %></td>
                                            <td>
                                                <% if(layoutOpt.left_image!="blank" && layoutOpt.left_image!="" && layoutOpt.left_image!=null){%>
                                                    <img src="<%= layoutOpt.left_image %>" width="100">
                                                <% }
                                                if(layoutOpt.left_image=="blank"){ %>-<% }%>
                                            </td>
                                            <td>
                                                <% if(layoutOpt.right_image!="blank" && layoutOpt.right_image!="" && layoutOpt.right_image!=null){%>
                                                    <img src="<%= layoutOpt.right_image %>" width="100">
                                                <% }
                                                if(layoutOpt.right_image=="blank"){ %> -<% }%>
                                            </td>
                                            <td><%= layoutOpt.type %></td>
                                            <td><%= layoutOpt.section_title %></td>
                                            <td>
                                               
                                                <div class="form-check form-switch form-switch-md mb-3" dir="ltr">
                                                    <input type="checkbox" class="form-check-input slide-status" id="layoutstatus" name="status" data-id="<%= layoutOpt.id %>" <%= (layoutOpt.status==1)? 'checked':''; %> value="active">
                                                    <label class="form-check-label" for="customSwitch1"><%= (layoutOpt.status==1)? 'Active':'Inactive'; %></label>
                                                </div>  
                                            </td>
                                            <td>
                                                <a href="/admin/layout/option/edit/<%= layoutOpt.id %>" class="btn btn-success btn-sm mr-2">Edit</a> 
                                                <!--<a href="/admin/layout/option/delete/<%= layoutOpt.id %>" id="delete-btn" class="btn btn-danger btn-sm">Delete</a>-->
                                            </td>
                                        </tr>
                                    <% }); %>
                                <% }else{ %>
                                    <tr>
                                        <td colspan="8"  class="text-center text-bold">Sorry. No layout option records exits!</td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                        
                        <% if(totalPages>1){ %>
                        <div class="pt-3">
                            <nav class="">
                                <ul class="pagination justify-content-center">
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <%= i == currentPage ? 'active' : '' %>">
                                        <a class="page-link" href="/admin/layout/options/<%= layoutData.id %>?<%=  (section_filter!='')? 'section_filter='+section_filter+'&':'' %>page=<%= i %>"><%= i %></a>
                                    </li>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                        <% } %>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->


        <%- contentFor('FooterJs') %>

        

        <%- contentFor('BottomJs') %>
        <script>
            jQuery(document).ready(function() {
                $(".slide-status").on('change', function(event){
                    var status= ($(this).prop('checked'))? '1':'0';
                    var id = $(this).data('id');
                    window.location = '/admin/layout/option/status/'+id+'/'+status;
                });
                $("#section_filter").on('change', function(event){
                    const section_filter = $(this).val();
                    const  page = 1;
                    if(section_filter!='')
                        window.location = '/admin/layout/options/<%= layoutData.id %>/?section_filter='+section_filter+'&page=1';
                    else
                        window.location = '/admin/layout/options/<%= layoutData.id %>/?page=1';
                });
            });
        </script>