<%- contentFor('HeaderCss') %>


    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Layouts</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/admin/layouts">Layouts</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>

        <% if (message!="" ) { %>
            <div class="alert alert-success">
                <%= message  %>
            </div>
        <% } %>
        <% if (error!="") { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 d-flex  align-items-center" >
                                <label class="me-3">Page: </label>
                                <select class="form-control" id="page_filter" name="page_filter" >
                                    <% pageList.forEach(page =>{ %>
                                        <option value="<%= page.slug %>" <%= page_filter==page.slug ? 'selected':'' %>><%= page.title %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="col-lg-9  col-md-6">
                                <h4 class="card-title mb-0 float-start"></h4>
                                <!--<a href="/admin/layout/create" class="btn btn-warning  float-end">Add New Layout</a>-->
                                <Box class="float-end">
                                    <% if(page_filter==="DailySingle" || page_filter==="DailyTwo"){ %>
                                    <a href="/admin/layout/sections/<%= layouts[0].id %>" id="view-btn" class="btn btn-warning btn-sm me-2 ">Sections</a>
                                    <% }%>
                                    <a href="/admin/layout/options/<%= layouts[0].id %>" id="view-btn" class="btn btn-warning btn-sm ">Options</a>
                                </Box>
                            </div>
                        </div>
                    </div><!-- end card header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered border-grey table-hover mb-0">
                                <thead>
                                    <tr class="table-dark">
                                        
                                        <!--<td>Left Page</td>
                                        <td>Right Page</td>-->
                                        <td>Title</td>
                                        <td>Page</td>
                                        <td>IsDefault</td>    
                                        <td>Status</td>                                            
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if(layouts.length>0){ %>
                                    <% layouts.forEach(layout => { %>
                                        <tr>                                       
                                            <!--<td>
                                                <% if(layout.left_image!="" && layout.left_image!=null){%>
                                                    <img src="<%= layout.left_image %>" width="50">
                                                <% }%>
                                            </td>
                                            <td>
                                                <% if(layout.right_image!="" && layout.right_image!=null){%>
                                                    <img src="<%= layout.right_image %>" width="50">
                                                <% }%>
                                            </td>-->
                                            <td><%= layout.title %></td>
                                            <td><%= layout.page %></td>
                                            <td><%= (layout.isDefault)? 'Yes':'No' %></td>
                                            <td>
                                                <div class="form-check form-switch form-switch-md mb-3" dir="ltr">
                                                    <input type="checkbox" class="form-check-input slide-status" id="layoutstatus" name="status" data-id="<%= layout.id %>" <%= (layout.status==1)? 'checked':''; %> value="active">
                                                    <label class="form-check-label" for="customSwitch1"><%= (layout.status==1)? 'Active':'Inactive'; %></label>
                                                </div>  
                                            </td>
                                            <td>
                                                <a href="/admin/layout/edit/<%= layout.id %>" class="btn btn-success btn-sm mr-2">Edit</a> 
                                                <!--<a href="/admin/layout/delete/<%= layout.id %>" id="delete-btn" class="btn btn-danger btn-sm">Delete</a>-->
                                                <% if(page_filter=="WeeklyView" || page_filter=="CalendarView"){ %>
                                                    <a href="/admin/layout/sections/<%= layout.id %>" id="view-btn" class="btn btn-warning btn-sm me-2 ">Sections</a>
                                                <% }%>
                                            </td>
                                        </tr>
                                    <% }); %>
                                <% }else{ %>
                                    <tr>
                                        <td colspan="6"  class="text-center text-bold">Sorry. No layout records exits!</td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>

                        <% if(totalPages>1){ %>
                        <div class="pt-3">
                            <nav class="">
                                <ul class="pagination justify-content-center">
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <%= i == currentPage ? 'active' : '' %>">
                                        <a class="page-link" href="/admin/layouts?<%=  (page_filter!='')? 'page_filter='+page_filter+'&':'' %>page=<%= i %>"><%= i %></a>
                                    </li>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                        <% } %>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->


        <%- contentFor('FooterJs') %>

        

        <%- contentFor('BottomJs') %>
        <script>
            jQuery(document).ready(function() {
                $(".slide-status").on('change', function(event){
                    var status= ($(this).prop('checked'))? '1':'0';
                    var id = $(this).data('id');
                    window.location = '/admin/layout/status/'+id+'/'+status;
                });
                $("#page_filter").on('change', function(event){
                    const page_filter = $(this).val();
                    const  page = 1;
                    if(page_filter!='')
                        window.location = '/admin/layouts/?page_filter='+page_filter+'&page=1';
                    else
                        window.location = '/admin/layouts/?page=1';
                });
            });
        </script>