<html>
    <head>
        <style>
            @font-face {
               font-family: 'JosefinSans';
               src: url('<%= BaseUrl %>/assets/pdf_fonts/JosefinSans-Regular.ttf') format('truetype');
             }
           body {
               font-family: Arial, sans-serif;
               background-color: #FFFFFF;
           }
           .st7InsideCoverdiv {
               width: 2175px;
               height: 2925px;
               background: #FFF;
               position: relative;
               display: flex;
               flex-direction: row;
               justify-content: center;
               break-after: page;
           }
           .st7Coverdiv {
               display: flex;
               flex-direction: row;
               width: 100%;
               height: 100%;
               margin: 0;
           }
           .st7page {
               width: 100%;
               position: relative;
               background-color: #FFF;
            }
            .leftpage .st7page{
                margin: 90px 213px 90px 90px
            }
            .rightpage .st7page{
                margin: 90px 90px 90px 213px
            }
           .MonthName{
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                font-size: 24px !important;
                color: #212121;
                font-family: "JosefinSans" !important;
                font-weight: 600;
                z-index: 12;
                text-transform: uppercase;
                background: #FFF;
           }
           .monthlyBox{
                position: absolute;
                left: 0;
                top: 6.5%;
                z-index: 3;
                width: 100%;
           }
           .weekbox{
                display: flex;
                width: 100%;
                height: 32px;
           }
           .week{
                width: 26%;
                text-align: center;
                background: #F5F5F5;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #212121;
                font-family: "JosefinSans" !important;
                font-size:  12px !important;
                font-style: normal;
                font-weight: 700;
           }
           .dayContainerBox{
                width: 100%;
           }
           .dayContainer{
                display: flex;
                width: 100%;
           }
           .dayBox{
                width: 26%;
                height: 22.4vw;
                text-align: center;
                border:1px solid #f5f5f5;
           }
           .datetitle{
               font-size:  14px !important;
               color: #212121;
               font-family: "JosefinSans" !important;
               font-style: normal;
               font-weight: 400;
               line-height: 1.2 !important;  
               padding: 10px;
            }
            .WeeklyHoliday{
               font-size:  12px !important;
               color: #212121;
               font-family: "JosefinSans" !important;
               font-style: normal;
               font-weight: 400;
               line-height: 1.2 !important;  
               padding-top: 10px;
            }
            .rightpage .dayContainer{
                width: 100%;
           }
            .rightpage .dayBox{
                width: 24.8%;
                height: 182pt;

            }
            .datetitle.pre, .datetitle.post{
                color:#F5F5F5;
            }
            .PageSubImages{
                width: 100%;
                height: 100%;
            }
           
       </style>
    </head>
    <body>
        
        <% if(Page=="Left"){%>
        <div class="st7InsideCoverdiv leftpage">
            <div class="st7Coverdiv">
                <div  class="st7page">
                    <img class='PageSubImages' src="<%= ImageArr.left_image %>"  alt=''/>
                    <div class="MonthName"><%= MonthName %></div>
                    <div class="monthlyBox">
                        <div class="weekbox">
                            <% daysOfWeek.forEach((day,index) => { 
                                if(index<4){ %>
                                <div class="week">
                                    <%= day %>
                                </div>
                            <% }
                            }); %>
                        </div>
                        
                        <div class="dayContainerBox">
                            <div class="dayContainer">
                            <% let clName ='pre'; %>
                            <% CalendarData.forEach((day,index) => { %>
                                <% if (index<35) { %>
                                    <% if(index<=7 && day.day==1) clName =''; %>
                                    <% if(index>28 && day.day==1) clName ='post'; %>
                                    
                                    <% if(index>0 && index%7==0){%>
                                    </div><div class="dayContainer">
                                    <% } %>
                                    <% if((index%7) < 4){ %>
                                
                                    <div class="daybox">
                                        <div class="datetitle <%= clName %>">
                                            <%= day.day %><br>
                                            <%= day.date %>
                                        </div>
                                        <div class="dateHolidays">
                                            <% if(day.HoliDays.length > 0){ %>
                                            <div class="WeeklyHoliday">
                                                <% day.HoliDays.forEach(holiday => { %>
                                                    <%= holiday.title %> <br /> 
                                                <% }) %>
                                            </div>
                                            <% } %>  
                                        </div>
                                    </div>
                                    <% } %>
                                <% } %>
                            <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }else{ %>

        <div class="st7InsideCoverdiv rightpage">
            <div class="st7Coverdiv">
                <div class="st7page">
                    <img class='PageSubImages' src="<%= ImageArr.right_image %>"  alt=''/>
                    <div class="MonthName"></div>
                    <div class="monthlyBox">

                        <div class="weekbox">
                            <% daysOfWeek.forEach((day,index) => { 
                                if(index>3){ %>
                                <div class="week">
                                    <%= day %>
                                </div>
                            <% }
                            }); %>
                        </div>
                        <div class="dayContainerBox">
                            <div class="dayContainer">
                                <%  clName ='pre'; %>
                                <% CalendarData.forEach((day,index) => { %>
                                    <% if (index<35) { %>
                                        <% if(index<=7 && day.day==1) clName =''; %>
                                        <% if(index>28 && day.day==1) clName ='post'; %>
                                        
                                        <% if(index>0 && index%7==0){%>
                                        </div><div class="dayContainer">
                                        <% } %>
                                        <% if((index%7) >3){ %>
                                    
                                        <div class="daybox">
                                            <div class="datetitle <%= clName %>">
                                                <%= day.day %><br>
                                                <%= day.date %>
                                            </div>
                                            <div class="dateHolidays">
                                                <% if(day.HoliDays.length > 0){ %>
                                                <div class="WeeklyHoliday">
                                                    <% day.HoliDays.forEach(holiday => { %>
                                                        <%= holiday.title %> <br /> 
                                                    <% }) %>
                                                </div>
                                                <% } %>  
                                            </div>
                                        </div>
                                        <% } %>
                                    <% } %>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %> 
       
    </body>
</html>