<%- contentFor('HeaderCss') %>

    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Layouts</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/admin/layouts">Layouts</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>

        <% if (message!="" ) { %>
            <div class="alert alert-success">
                <%= message  %>
            </div>
        <% } %>
        <% if (error!="") { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Edit Layout</h4>
                    </div>
                    <div class="card-body">
                        <form action="/admin/layout/update" method="post" enctype="multipart/form-data">
                            <div class="row">
                            
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="title">Title <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" placeholder="Enter title" id="title" name="title" value="<%= layoutData.title %>" required >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="layout_image">Layout image</label>
                                        <% if(layoutData.image!="" && layoutData.image!=null){%> 
                                            <div class="image-container"> <div class="inner"><a href="/admin/layout/delete-image/<%= layoutData.id %>" class="delete-btn" >X</a><img src="<%= layoutData.image %>" width="200" /></div></div>
                                        <% }%>
                                        <input type="file" class="form-control"  id="layout_image" name="layout_image">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3 d-flex">
                                        <label class="form-label me-3" for="isDefault" >Default</label>
                                        <div class="form-check form-switch form-switch-md mb-3" dir="ltr">
                                            <input type="checkbox" class="form-check-input slide-status" id="isDefault" name="isDefault" <%= (layoutData.isDefault==1)? 'checked':''; %> value="1">
                                            <label class="form-check-label" for="customSwitch1" id="isDefaultLabel"><%= (layoutData.isDefault==1)? 'Yes':'No'; %></label>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6 text-left">
                                    <a href="/admin/layouts" class="btn btn-secondary w-md">Back</a>
                                </div>
                                <div class="col-md-6 text-right">
                                    <input type="hidden" id="id" name="id" value="<%= layoutData.id %>">
                                    <button type="submit" class="btn btn-primary w-md float-end">Submit</button>
                                </div>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- End Form Layout -->


    <%- contentFor('FooterJs') %>
    <%- contentFor('BottomJs') %>